:root {
  --ebony-clay: #1e3238;
  --fiord: #44576d;
  --slate-gray: #768a96;
  --pigeon-post: #aac7d8;
  --link-water: #dfebf6;
  --mercury: #e6e6e6;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: var(--ebony-clay);
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: var(--pigeon-post);
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}

.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.shareButton {
  color: var(--link-water);
}

.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--link-water);
}

.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--slate-gray);
  border: 1px solid var(--fiord);
  border-radius: 4px;
}

.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: var(--fiord);
  border: 1px solid var(--fiord);
  border-radius: 4px;
}

.copyButtonContainer:hover {
  cursor: pointer;
  background: var(--fiord);
}

.copyButton {
  color: var(--slate-gray);
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--pigeon-post);
}

@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerIcon {
    margin-left: 26px;
  }
}
